.search-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #f89797;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 5px;
    margin-left: 0;
}

.search-icon{
    padding: 3px;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #ffffff;
    margin-top: 5px;
    cursor: pointer;
}

.searchBar{
    width: 100%;
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}